name: Build Job
on: 
  push:
    branches: 
      - main

  pull_request:
    branches: 
      - main

  workflow_dispatch:
  
  schedule:
    - cron: '10 14 * * 1-5' # at 14:10 UTC every weekday (Monday to Friday)

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Maven Build
        run: mvn install


  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run tests on main branch
        run: mvn test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle